li {
  color:rgb(0, 219, 219)
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: darkblue;
}

body {
    font-family: "comic sans ms";
    color:orchid;
}

@keyframes example {
    0%   {background-color: rgb(255, 0, 0);}
    20%  {background-color: rgb(255, 174, 0);}
    40%  {background-color: rgb(208, 255, 0);}
    60%  {background-color: rgb(49, 224, 255);}
    80%  {background-color: rgb(55, 0, 255);}
    100% {background-color: rgb(255, 28, 236);}
  }

  button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: x-large;
    width: 100px;
    height: 50px;
    background-color: red;
    animation-name: example;
    animation-duration: .5s;
    animation-iteration-count: infinite;
  }